<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Currently, your basket is empty ...</h2>
  </div>
  <div class="panel-body">
    <h4>but you can add items whenever you want <span class="glyphicon glyphicon-thumbs-up"></span></h4>
  </div>
</div>
