<html>
  <head>
    <title>booking.shop</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
  </head>
  <body class="container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse my-navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand my-navbar-header" href="/"><span class="glyphicon glyphicon-book"></span> booking.shop</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="float: right">
            <li>
              <a href="/"><button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> home</button></a>
            </li>
            <li>
              <a href="/basket"><button class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> basket</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <article class="under-navbar">
      <%= yield %>
    </article>
  </body>
</html>
