.under-navbar {
  margin-top: 90px;
}

.my-panel-title {
  font-size: 20px;
}

.product-img-container {
  text-align: center;
}

.my-panel-title {
  background-color: #00bfff;
  color: #fff;
}

.not-available {
  background-color: #D5403A;
  color: #fff;
}

.page-not-found h1{
  font-size: 195px;
  text-align: right;
}

.page-not-found h2{
  font-size: 95px;
  text-align: left;
}